.header-container {
    width: 100%;
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;

    > .header-text {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
    }

    > .github-icon {
        fill: #fff;
        width: 24px;
        height: 24px;
    }
}
