.rechart-container {
    width: 100%;
    padding-inline: 16px;
    padding-block: 16px;
    background-color: #F9F9F9;;

    .rechart-wrapper {
        background-color: #fff;
        border-radius: 12px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .title {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .data-layer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 7px;
            padding: 4px 8px;
            background-color: #F3F3F1;
            border-radius: 8px;

            .data-layer-item {
                display: flex;
                text-align: center;
                flex-direction: column;
                gap: 3px;
                background-color: #fff;
                border-radius: 8px;
                padding-block: 8px;

                .data-name {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 14px;
                }

                .data-detail {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;

                    .data-value {
                        color: #34C759;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    .data-text {
                        color: #34C759;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
            }
        }
    }
}
