@use "../../../../../styles/responsive.scss";

.todays-weather-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    > .city-name {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }

    > .todays-weather-list {
        display: flex;
        justify-content: center;
        gap: 12px;

        > .weather-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6px;

            > img {
                width: 84px;
                height: 72px;
                object-fit: contain;
            }

            > .weather-time {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}

@include responsive.max('sp') {
    .todays-weather-wrapper {
        > .todays-weather-list {
            > .weather-card {
                gap: 0px;

                > img {
                    width: 60px;
                    height: 48px;
                    object-fit: contain;
                }

                > .weather-time {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
}